
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #818181;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 15px rgb(0, 211, 190);
}

.cont{
    padding-left: 40px;
    padding-right: 40px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: rgb(0,211,190);
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #6d6d6d;
}

tr{
    color: #000000;
}

tr:hover {
    background-color: #000000;
    color: rgb(0,211,190);;
}

th, td {
    text-align: center;
}

a {
    color: rgb(0,211,190);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
    }

    th {
        background-color: rgb(0,211,190);
    }
}

button{
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgb(0, 211, 190);
    color:rgb(42, 42, 42);
    box-shadow: 0 4px 8px 0 rgba(0, 141, 163, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}