.flood-card {
    padding: 20px 25px;
}
  
  .flood-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .flood-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    text-align: center;
  }

  .flood-content{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ), 
      url('../../public/bg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 0 15px rgb(0, 211, 190);
    text-align: center;
  }
  
  .flood-title {
    font-size: 34px;
    margin-bottom: 10px;
    color: white;
  }
  
  .flood-description {
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
  }
  
  .flood-button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 42, 42);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .flood-button:hover {
    background-color: rgb(0, 211, 190);
    color:rgb(42, 42, 42);
    box-shadow: 0 4px 8px 0 rgba(0, 141, 163, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
  }
  
  .Content-charts{
    text-align: center;
    text-transform: uppercase;
  }