.header {
    background-color: #333;
    color: rgb(0,211,190);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: rgb(0,211,190);
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  